<header>
    <nav
            aria-label="Second navbar example"
            class="navbar navbar-expand navbar-dark bg-dark"
    >
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img alt="logo" src="/logo.png"/>
            </a>
            <div class="collapse navbar-collapse" id="navbarsExample02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/message">Send message</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/read">Read messages</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
